*{
    margin:0px;
    
}
body{
    background:rgb(205, 204, 195);
    height:100%;
   
}
header{
    top:0px;
    left:0px;
    right:0px;
    display: flex;
    justify-content: center;
    align-items:center;
    z-index: 0;
    box-shadow: 0 0 10px gray;
    background:rgb(205, 204, 195);
    overflow:hidden;

}

.logo{
    margin-right: auto;
    margin-left: 50px;
    font-size: 55px;

}
.logo a{
    text-decoration: none;
    color:rgb(46, 29, 18);
    font-weight: bold ;
}
.signin{
    margin-right:50px;
    padding: 15px 20px;
    width: max-content;
}
.signup_login{
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(46, 29, 18);
    border-radius: 8px;
    padding:14px;
    max-height: 110px;
    color: rgb(205, 204, 195);
    font-size: 18px;
    border: none;
    
}
.signup_login:hover{
  
  text-shadow: 0 0 5px rgba(205, 204, 195 ,0.7);
  transition: all 0.3s ease;
}
main{
   
   display: flex;
   align-items:center ;
   justify-content: center;
   flex-direction: column;
   max-height:40%;
   margin: 20%;
   position:sticky;
   
   
}
.logoMain{
    margin-bottom:25px ;
    justify-items: center;
    color: rgb(46, 29, 18);
}
.searchBar{
    padding: 10%;
    display:flex;
    flex-direction: row;
   
}
 #search-input{
     width: 590px;
     height: 20px;
     border: none;
     border-radius: 3px;
     margin: 10px;
}
#search-input:focus{
    outline-color: rgb(46, 29, 18);
    outline-offset: 2px;
    
}
#SearchBtn{
    margin-top: 10px;
    
}
#search{
   max-width: 100px;
   max-height: 25px;
   
}
.booklist{
    display: flex;
    flex-direction: row;
    width: 1000px;
    
    
}
.booklist ul{
    border: solid 1px;
    border-bottom: none;
    border-color: rgb(116, 116, 116);
    border-radius:5px;
    list-style: none;
    padding: 0;
    min-width: 100%;
    background-color: whitesmoke;
}
.booklist li{
    border: solid 1px;
    border-color: rgb(116, 116, 116);
    
    border: 1px;
}
#book{
    border-bottom: solid 1px;
    border-color: rgb(116, 116, 116);
    display: flex;
    margin: 0px;

}

#book img{
    
    padding: 10px;

}
.coverbookInfo{
    padding-left: 15px;
    padding-top: 10px;
}

.book-Info{
    display: flex;
    flex-direction:row;
    width: 1000px;
}
#b-I{
    padding-left: 10px;
}
#coverImg{
     padding: 10px;
}

footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    box-shadow: 0 0 10px rgb(46, 29, 18);
    background:rgb(205, 204, 195);
    position: fixed;
    padding: 19px;

}
